/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --wght-normal: 400;
    --wght-bold: 700;
    --header-width: min(100%, 700px);
    --section-width: min(100%, 696px);
}