/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --wght-normal: 400;
    --wght-bold: 700;
    --header-width: min(100%, 700px);
    --section-width: min(100%, 696px);
    --color-text-stroke: rgba(255 255 255 / 0.5);
    --bg-image: repeating-linear-gradient(to right, #d3d3d3, rgb(211 211 211 / 0) 2px),
                repeating-linear-gradient(to bottom, #d3d3d3, rgb(211 211 211 / 0) 2px),
                repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --bg-color: #fff;
    --text-color: #000;
    --text-color-mix: #fff;
    --contour-color: #000;
    --animation-fill-color: #FF0000;
}